.footer {
        display: flex;
        flex-direction: column;
        background-color:#fff;
        color:#4b4c4d;
        font-weight: bold;
}

.first-footer {
    display: flex;
}

.second-footer {
    display: flex;
}