.body{
    min-height: 100%;
    margin-bottom: -142px; 
}

.first-section-home-content{
    background-color: #f3f3f3;
}

.third-section-home-content{
    background-color: #f3f3f3;
}
.title-home{
   text-align: center;
}